<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<table>
  	<thead>
  		<tr>
			<th>제목</th>
			<th>작성일시</th>
		</tr>
    </thead>
  <tbody>
  		<tr th:each ="question : ${questionList}">
            <td th:text="${question.subject}"></td>
            <td th:text="${question.createDate}"></td>
<!--    [[ ]] 를 이용하여 th:text를 대치하여 사용이 가능함     -->
<!--       	<td> [[${question.subject}]] </td> -->
<!--       	<td> [[${question.createDate}]] </td> -->
		</tr>
  </tbody>	
</table>
</body>
</html>